html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  font-size: 1.2rem;
}
h1 {
  font-size: 2rem;
}
html,
body {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
}
.about-section {
  height: auto;
  width: 90%;
  margin: 0 2.5%;
  padding: 2%;
  background-image: linear-gradient(#dbce86a8, #ebe48559);
  color: #101820FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width:500px) {
  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
.about-section .about-text {
  width: 40%;
  padding: 7% 5%;
}
@media (max-width:500px) {
  .about-section .about-text {
    width: 90%;
  }
}
.about-section .about-text h2 {
  font-size: 2rem;
}
.about-section img {
  width: 30vw;
  height: 45vh;
  padding: 2%;
}
@media (max-width:500px) {
  .about-section img {
    width: 90%;
  }
}
@media (max-width:500px) {
  .reverse-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
}
strong {
  font-size: 1.5rem;
}
.about-group {
  background-image: linear-gradient(#e7ee859f, #dbcf5e5d);
  width: 90%;
  margin: 0 2.5%;
  padding: 2%;
}
.group-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 2.5%;
  padding: 0 2%;
  background-color: #ebe48559;
}
.group-members .member {
  text-align: center;
  width: 35%;
  height: 60%;
  margin: 2%;
}
.group-members .member h3 {
  font-size: 1.5rem;
}
.group-members .member img {
  margin-top: 2%;
  border-radius: 100%;
  width: 40%;
  height: 40%;
}
.action-btn {
  margin-top: 5%;
  padding: 2%;
  border-radius: 5px;
  background-color: #ebebc1a6;
  font-size: 1.3rem;
}
body {
  background: rgba(0, 0, 0, 0.068);
  margin-top: 2% ;
}
a {
  color: #FEE715FF;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  width: 94%;
  margin: 0 2.5%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 10%;
  font-size: 1.5rem;
  color: #FEE715FF;
  background: rgba(36, 34, 34, 0.781);
}
@media (max-width:500px) {
  header nav {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 20%;
  }
}
@media (max-width:650px) {
  header nav {
    font-size: 1rem;
  }
}
@media (max-width:850px) {
  header nav {
    font-size: 1.1rem;
    height: 25%;
  }
}
header nav #logo {
  width: 10%;
  background: WHITE;
  height: 100%;
}
@media (max-width:650px) {
  header nav #logo {
    height: 100%;
  }
}
@media (max-width:850px) {
  header nav #logo {
    height: 100%;
  }
}
@media (max-width:500px) {
  header nav #logo {
    display: none;
  }
}
header nav .nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin: 0 10%;
}
header nav .nav-links #home-tab {
  display: none;
}
@media (max-width:500px) {
  header nav .nav-links #home-tab {
    display: inline;
  }
}
@media (max-width:500px) {
  header nav .nav-links {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2%;
  }
}
header nav .nav-links a {
  text-align: center;
  text-decoration: none;
}
header nav .nav-links a:active {
  font-size: 2rem;
}
@media (max-width:500px) {
  header nav .nav-links a {
    padding: 2% 0;
    width: 185%;
    border-bottom: 1px solid;
  }
}
header nav #sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 20%;
  margin-right: 2%;
}
@media (max-width:500px) {
  header nav #sign {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width:650px) {
  header nav #sign {
    font-size: 1rem;
    width: 25%;
  }
}
header nav #sign a {
  text-align: center;
  text-decoration: none;
}
@media (max-width:500px) {
  header nav #sign a {
    font-size: 1.1rem;
    align-self: center;
    padding: 2% 0;
    width: 365%;
    border-bottom: 1px solid;
  }
  header nav #sign a:nth-of-type(2) {
    border: none;
    padding: 6% 0;
  }
}
header .header-img-info {
  background-image: linear-gradient(rgba(20, 10, 1, 0.6), rgba(50, 70, 30, 0.6)), url("../img/ride-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ebe48559;
  padding: 10% 2%;
}
@media (max-width:500px) {
  header .header-img-info {
    background-image: none;
  }
}
header .header-img-info .info {
  width: 45%;
  padding: 7% 0 0 10%;
  height: 25%;
  color: white;
}
@media (max-width:500px) {
  header .header-img-info .info {
    width: 80%;
    font-size: medium;
    text-align: center;
    color: rgba(36, 34, 34, 0.781);
  }
}
header .header-img-info .info h2 {
  font-size: 2rem;
}
@media (max-width:500px) {
  header .header-img-info .info h2 {
    font-size: 1.5rem;
  }
}
header .header-img-info .info p {
  font-size: 1.2rem;
}
footer {
  height: 15vh;
  width: 90%;
  margin: 0 2.5%;
  padding: 2%;
  color: #FEE715FF;
  background: rgba(36, 34, 34, 0.781);
  line-height: 1;
}
footer h2 {
  font-size: 2rem;
  padding-bottom: 2%;
}
footer a {
  text-decoration: none;
}
footer .copyRight {
  text-align: center;
}
