body{
    
    background: rgba(0, 0, 0, 0.068);
    margin-top: 2% ;
}
   
a{
        color:@color-nav;
    }
    
header {
    .dis_flx(space-between, none,column);
    width:94%;
    margin: 0 2.5%;



   
    nav{
    //    padding: 1% 0;
        .dis_flx(space-between, center,row);
        height: 10%;
        font-size: 1.5rem;
        color:@color-nav;
        background:@bg-nav;
        
    // media query    
        @media @mobile{
            font-size: 0.8rem;
            .dis_flx(space-between, center,column);
            height: 20%;;

        }
        @media @tablet650 {
            font-size: 1rem;
          
        }
        @media @tablet850 {
            font-size: 1.1rem;
            height:25%;
        }

        #logo {
            width:10%;
            background:WHITE;//@color-nav
            height:100%;
            // media 650& 750 

            @media @tablet650 {
                height: 100%;
            }
            @media @tablet850 {
                height: 100%;
            }

        @media @mobile{
           display: none;
            
        }
                     
        } // end logo

        .nav-links { 
            
            .dis_flx(space-evenly, center,row);
            width:50%;
            margin:0 10%;
            
            #home-tab {
                @media @mobile{
                    display: inline;
                }
                display: none;
            }
         // media query    
            @media @mobile{
            font-size: 1.2rem;
            .dis_flx(space-between, center,column);

            }

            a{
                &:active {
                   
                    font-size:2rem;
                }
                text-align: center;
                text-decoration: none;
           
                @media @mobile{
                    padding:1%;
                }
            }
            
        } //end of nav links

        #sign {
            .dis_flx(space-between, center,row);
            width:20%;
            margin-right:2%;
            @media @mobile{
                font-size: 1.2rem;
                .dis_flx(space-between, center,column);

                }
                @media @tablet650{
                  font-size: 1rem;
                  width:25%;
                            
                    }

            a{
                
                text-align: center;        
                text-decoration: none;
                @media @mobile{
                    padding:1%;
                }
            }
      
        }// end log in 

    } // end of nav

    // header image    
    .header-img{
 
        width:100%;
        color:@header-color-img;
        background-color: @header-bg-img;
        background-image: url("../img/header-img.png");
        background-repeat: no-repeat;
        background-position:75%, 3%;
        height:60%;
        padding:5% 0;
        @media @mobile{
            background-image: none;
            height: 45%;
        }
       
       
        .header-img-info{
           
            width:55%;
            padding:7% 0 0 2%;
            height:24vh;
            @media @mobile{
                width:100%;
                font-size: medium;
                text-align: center;
               
            }            
            h2{
               
                font-size: 2rem;
                @media @mobile{
                    font-size: 1.5rem;
                }
            }
            p{
                
                font-size: 1.2rem;
              
            }
           
        }
    }
    
}




