//variable
@bg-nav:rgba(36, 34, 34, 0.781);
@color-nav:#FEE715FF;
@header-bg-img :#ebe48559;
@header-color-img:#101820FF;
@content-bg:#ebe48559;// background-image: linear-gradient( rgb(233, 91, 76);rgba(199, 118, 118, 0.541));
@content-color: #101820FF;
@footer-bg : rgba(36, 34, 34, 0.781);
@footer-color:#FEE715FF;

@mobile:~"(max-width:500px)";
@tablet650:~"(max-width:650px)";
@tablet850:~"(max-width:850px)";